body{
    width:100% !important;
    height:100% !important;
    margin:0% !important;
    padding: 0% !important;
}

.logo{
    width: 10%;
    height: 10%;
}
.timer{
    margin-right:30%;
    margin-top: 4%;
    font-size:2em;
    color:#2a3362;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0%;
    padding: 0%;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
}


.quit{
    width: 80px;
    height: 40px;
    background: #EFF2FF;
    border: 1px solid #2A3362;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 0.75em;
    line-height: 12px;

